body {
    text-align: center;
    background: linear-gradient(to right, #53a7d5, rgb(123, 206, 106));
    font-family: sans-serif;
    box-sizing: border-box;
}
.list-item>img {
    height: auto;
    width: 60%;
    overflow: hidden;
}
.list-item>img:hover {
    transform: scale(1.1) translateY(-8px);
    border-radius: 20px;
}
.list-item>p {
    font-size: 1.5rem;
}

.list-item {
    height: 300px;
    width: 33%;
    padding: 2rem;
    margin: 1rem;
    text-align: center;
    background: rgba(255, 255, 255, 0.10);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.card-item {
    display: flex;
    margin: 2rem;
}